.git
.github
.husky
.idea
.vscode
node_modules
.next
out
build
coverage
tsconfig.tsbuildinfo
test
vitest.config.ts
npm-debug.log*
.pnpm-debug.log*
*.md
!README.md
.env*
.DS_Store
Dockerfile
.dockerignore
